*
{margin: 0;
padding: 0;
}
.box
{
    margin: auto;
    border:1px solid #f6f8f9;
    width: 100%;  
}
.box1
{
    margin: auto;
    border:1px solid #f6f8f9;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
.right
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10%;
    justify-content: space-between;
    padding-right: 20px;

}
.box2
{
   border: 1px solid #f6f8f9;
   background-color: #F6F8F9;
   height: 800px;
   width: 100%;
   float: center;
}
.box3
{
    margin: auto;
    float: center;
   width: 95%;
   height: 730px;
   border: 1px solid #f6f8f9;
   background-color: white;
   margin-left: 40px;
   margin-top: 35px;
}
.box4
{
    float: left;
    padding-top: 110px;
    width: 5%;
    height: 730px;
    border: 1px solid #f6f8f9;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.image
{
    padding-top: 70px;
}
.req
{
transform: rotate(-90deg);

}
.box5
{
    float: right;
    width:94.72%;
    height:730px;
    border: 1px solid #f6f8f9;
}
.box6
{
    
   margin-top: 50px;
  margin-left: 110px;
    width:1200px;
    height:500px;
    border: 1px solid #F0F0F0;
}
.box7
{
    margin: auto;
    height: 100px;
    width: 100%;
    border: 1px solid #F0F0F0;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.header
{
    padding-left: 40px;
    color:#505050;
    font-size: 14px;
}
.text
{
    color:#747474;
    font-size: 12px;
}
.add
{
    padding-right: 40px;
    width: 17%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.box8
{
    width: 680px;
    height: 70px;
    border: 1px solid #D5E2E8;
    background-color: #F4F8FA;
    margin-left: 40px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.img1
{
   
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.name1
{
    font-size: 14px;
    color: #747474;
    padding-left: 20px;
}
.abc1
{
    font-size: 12px;
    color: #909090;
}
.dlt1
{
    padding-right: 50px;
}
.box9
{
    width: 680px;
    height: 70px;
    border: 1px solid #D5E2E8;
    background-color: #F4F8FA;
    margin-left: 40px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.img1
{
   
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 10px;
}
.name1
{
    font-size: 14px;
    color: #747474;
}
.abc1
{
    font-size: 12px;
    color: #909090;
}
.dlt1
{
    padding-right: 50px;
}
.box10
{
    width: 680px;
    height: 70px;
    border: 1px solid #D5E2E8;
    background-color: #F4F8FA;
    margin-left: 40px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.img1
{
   
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.name1
{
    font-size: 14px;
    color: #747474;
}
.abc1
{
    font-size: 12px;
    color: #909090;
}
.dlt1
{
    padding-right: 50px;
}
.bottom
{
   padding-top: 220px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}
.save
{
   
    color: #595959;
    font-size: 12px;
}
.back
{
   
    color: #32BDD2;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-color: #32BDD2;
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left:200px;
}
.button
{
    padding-left: 110px;
}    
button
{
    width: 90px;
    height: 30px;
    color: white;
    background-color: #32BDD2;
    border-radius: 50px;
}