*
{
    margin: 0;
    padding: 0;
}
.box1
{
    margin: auto;
    border:1px solid #f6f8f9;
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.right
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 12%;
    justify-content: space-evenly;

}
.box2
{
   border: 1px solid #f6f8f9;
   background-color: #f6f8f9;
   height: 2300px;
   width: 100%;
   float: center;
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-evenly;

}
.bx
{
    margin-top: 130px;
    border: 1px solid #DFEBEF ;
    background-color: #f6f8f9;
    height: 500px;
    width: 60px;
    float: center;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
}
.bx1
{
    
    height: 70px;
    border: 1px solid #DFEBEF;
    background-color: #245070;
}
.bx2
{
    height: 430px;
    border: 1px solid #DFEBEF;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; 

}
.box3
{
    margin-top: 40px;
    width: 80%;
    height: 2100px;
    border: 1px solid #DFEBEF;
    background-color: white;
    float: center;
}

.box5
{
    width: 90%;
    height: 100px;
    border: 1px solid black;
    background-color: #FCFDFF;
    border-radius: 50px;
    margin-left: 60px;
    margin-top: -50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   
}
.box6
{
    width: 95%;
    height: 150px;
    border: 1px solid white;
    background-color:white;
    border-bottom-color: #DFEBEF;
    margin-left: 20px;
}
.w
{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.box7
{
    width: 95%;
    height: 150px;
    border: 1px solid white;
    background-color:white;
    border-bottom-color: #DFEBEF;
    margin-left: 20px;
    margin-top: 20px;
}
.box8
{
    width: 95%;
    height: 150px;
    border: 1px solid white;
    background-color:white;
    border-bottom-color: #DFEBEF;
    margin-left: 20px;
    margin-top: 50px;
}
.box9
{
    width: 95%;
    height: 150px;
    border: 1px solid white;
    background-color:white;
    border-bottom-color: #DFEBEF;
    margin-left: 20px;
    margin-top: 20px;
}
.box10
{
    width: 95%;
    height: 150px;
    border: 1px solid white;
    background-color:white;
   
    margin-left: 20px;
    margin-top: 20px;
}
.left
{
    float: left;
    margin-top: 20px;
    margin-left: 40px;
      width:400px;
      height:60px;
      border: 1px solid #F0F0F0;
}
.top1
{
  color: #747474;
  font-size: 12px;
      width:400px;
      height:30px;
      border: 1px solid #F0F0F0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
}
.bottom1
{
   
       color: #747474;
  font-size: 12px;
    width:400px;
    height:28px;
    border: 1px solid #F0F0F0; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 
}
.left
{
    float: left;
    margin-top: 20px;
    margin-left: 40px;
      width:400px;
      height:60px;
      border: 1px solid #F0F0F0;
}
.top1
{
  color: #747474;
  font-size: 12px;
      width:400px;
      height:30px;
      border: 1px solid #F0F0F0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
}
.bottom1
{
   
       color: #747474;
  font-size: 12px;
    width:400px;
    height:28px;
    border: 1px solid #F0F0F0; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 
}
.box11
{
    width: 680px;
    height: 70px;
    border: 1px solid #D5E2E8;
    background-color: white;
    margin-left: 40px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}




