.box
{
    position: absolute;
    background-color: #B5B5B5;
    margin-left: 250px;
    margin-right:300px;
    border: 1px solid black;
    margin-block-start: 40px;
    margin-bottom: 30px;
    height: 700px;
    width: 60%;
    float: center;
}
.box2
{
    float: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    border: 1px solid black;
    width: 50%;
    height: 50px;
    margin-left: 220px;
    margin-right: 300px;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.additem
{
    padding-left: 20px;
}
.img
{
    padding-right: 20px;
}
.box3
{
    background-color: white;
    border: 1px solid black;
    width: 50%;
    height: 444px;
    margin-left: 220px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.description
{
    float: left;
    padding-left: 20px;
}

.qty
{
   float:left;
   padding-left:20px;
}


.FDD
{
   float: left; 
   padding-left: 20px;
}
.both
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}
.AP
{
   float: left; 
   padding-left: 20px;
}
.box4
{
        background-color: white;
        border: 1px solid black;
        width: 50%;
        height: 50px;
        margin-left: 220px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
}  
.cancel
{
    padding-left: 20px;
}
.button
{
    padding-right: 20px;
}
button
{
    color: white;
    background-color: #32BDD2;
    border-radius: 20px;
    height: 25px;
    width: 65px;
}
