.box
    {
        position: absolute;
        margin-left: 400px;
        margin-right: 400px;
        border:1px solid black;
        float: center;
        width: 25%;
        height: 600px; 
        padding:20px;

    }
    .box2
    {
        float: center;
        height: 500px; 
        border-radius: 40px;
         border: 1px solid black;
        border-block-start-width: 5px;
        border-left-width: 5px;
        border-right-width: 5px;
        border-block-end-width:5px;
        padding: 20px;
    }
    .header
    {
        padding-right: 100px;
        padding-block-start: 80px;
    }
    .text
    {
        padding-right: 30px;
    }
    .email
    {
        padding-right: 80%;
    }
  
    .button
    {
        float: center;
    }
