.box
{
    position: absolute;
    border: 1px solid white;
    margin-left: 150px;
    margin-right: 200px;
    float: center;
    width: 80%;
    height: 1100px;
}
.box1
{
    margin-top: 30px;
    border:1px solid #f6f8f9;
    margin-left: 60px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.right
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
    justify-content: space-evenly;

}
.box2
{
   border: 1px solid #f6f8f9;
   background-color: #f6f8f9;
   height: 950px;
   width: 90%;
   margin-left: 60px;
   float: center;
}
.box3
{
    width: 90%;
    height: 130px;
    border: 1px solid #DFEBEF;
    background-color: white;
    float: center;
    margin-left: 55px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}
.search
{
    margin-bottom: 30px;
    width: 40%;
    height:30px;
    border-radius:10px;
    border: 1px solid #b5b5b5;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.p {
    font-size: 20px;
    text-decoration: underline;
    text-decoration-color: #32BDD2;
  }
button
{
    background-color: #32BDD2;
    color: white;
    border-radius: 15px;
    height: 30px;
    width: 100px;
}
.box4
{
    padding-left: 50px;
    float: center;
    width: 86%;
    height: 90px;
    border: 1px solid #DFEBEF;
    background-color: white;
    margin-left: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.text
{
    font-size: 13px;
}
.box5
{
    padding-left: 60px;
    float: center;
    width: 85%;
    height: 150px;
    border: 1px solid #DFEBEF;
    background-color: white;
    margin-left: 55px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.right2
{
    width: 20%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   
}
.box6
{
    padding-left: 60px;
    float: center;
    width: 85%;
    height: 150px;
    border: 1px solid #DFEBEF;
    background-color: white;
    margin-left: 55px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.right3
{
    width: 20%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   
}
.box7
{
    padding-left: 60px;
    float: center;
    width: 85%;
    height: 150px;
    border: 1px solid #DFEBEF;
    background-color: white;
    margin-left: 55px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.right4
{
    width: 20%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
}
.box8
{
    padding-left: 60px;
    float: center;
    width: 85%;
    height: 150px;
    border: 1px solid #DFEBEF;
    background-color: white;
    margin-left: 55px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.right5
{
    width: 20%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
}

.box9
{
    width: 90%;
    height: 40px;
    border: 1px solid #DFEBEF;
    background-color: white;
    margin-left: 55px;
    color: #909090;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

