.box
{
    position: absolute;

    float:center;
    height: 730px;
    width: 100%;
    background-color:  #747474;
    border: 2px solid black;
    padding: 20px;

}
.box2
{
    position: relative;
    float: center;
    width: 690px;
    height: 270px;
    margin-left: 420px;
    margin-right: 200px;
    margin-top: 180px;
    margin-bottom: 100px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
   padding: 10px;
}
.header
{
    padding-top: 30px;
    font-size: 16px;
    padding-left: 40px;
    color: #595959;
}
.text
{
   
    font-size: 18px;
    padding-left: 40px;
    color: #747474;
}