*
{
    margin: 0px;;
    padding: 0px;
}
.box
    {
        position: absolute;
        background-color: #F6F8F9;
        border: 1px solid #F6F8F9;
        width: 100%;
        
    }
    .box2
    {
        background-color: white;
        margin: auto;
        width: 98%;
        padding: 5px;
        padding-bottom: 16%;
        border-radius: 25px;
         border: 1px solid #F6F8F9;
         display: flex;
         flex-direction:column;
         align-items: center;

    }
    .login
    {
        float: center;
      padding-right: 17.5%;
        font-size: 16px;
        color: #595959;

    }
    .email
    {
        float:center;
        padding-top: 2%;
        padding-right: 11.5%;
        color: #505050;
        font-size: 14px;
    }
    #p
    {
        cursor: pointer;
    }
    .password
    {
        float:center;
        padding-top: 1%;
        padding-right: 11.5%;
        color: #505050;
        font-size: 14px;
    }
    .text
    {
        font-size: 12px;
        color: #707070;
    }
    .forgotpassword
    {
        font-size: 12px;
        color: #707070;
    }
    .mid
    { 
          /* float:center; */ 
        padding-top: 1%;
        width: 47%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .checkbox
    {
        /* float: center; */
        display: flex;
     flex-direction: row;
     align-items: center;
    
    }
    button
    {
        color: white;
        background-color: #32BDD2;
        border-radius: 21px;
       
    }
    .button
    {   float:center;
       
    }
   
