.box
{
    position: absolute;
    background-color: #B5B5B5;

    border: 1px solid #747474;

    height: 900px;
    width: 100%;
    float: center;
}
.box2
{
    float: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    border: 1px solid #747474;
    width: 50%;
    height: 50px;
    margin-left: 370px;
    margin-right: 300px;
    margin-top: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.additem
{
    color: #747474;
    font-size: 22px;
    padding-left: 20px;
}
.img
{
    padding-right: 20px;
}
.box3
{
    background-color: white;
    border: 1px solid #747474;
    width: 50%;
    height: 580px;
    margin-left: 370px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.description
{
    color: #747474;
    float: left;
    padding-left: 20px;
    margin-top: 30px;
}

.qty
{
    color: #747474;
   float:left;
   padding-left:20px;
   margin-top: 30px;
}


.FDD
{
    color: #747474;
   float: left; 
   padding-left: 20px;
   margin-top: 30px;
}
.both
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}
.bx
{
    
    border: 1px solid white;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
   
}
.AP
{
    color: #747474;
   float: left; 
   padding-left: 20px;
   margin-top: 30px;
  
}
.box4
{
        background-color: white;
        border: 1px solid #747474;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 50%;
        height: 50px;
        margin-left: 370px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
}  
.cancel
{
    color: #5A5A5A;
    text-decoration: underline;
    text-decoration-color: #5A5A5A;
    padding-left: 20px;
}
.button
{
    padding-right: 20px;
}
#p
{
    cursor: pointer;
}
button
{
    color: white;
    background-color: #32BDD2;
    border-radius: 20px;
    height: 30px;
    width: 70px;
}
